.o_user_menu  .dropdown-menu img,
.o_user_menu_mobile  .dropdown-item  img {
    height: 20px;
    margin: 2px;
}

.oe_form_configuration  {
  .o_settings_container {
    span  {
      display:inline-block;
    }
  }
}

.o_web_client {
  .breadcrumb-item + .breadcrumb-item::before {
    content: '/';
  }
}
// Colors replace to ent
$o-community-color: #FF5349;

