.oh_dashboards{
  height:100%;
  width:100%;
  overflow:scroll;
}

.o_helpdesk_dashboard{
  height:100%;
  width:100%;
}

.header-section{
  height: 7%;
  width: 100%;
  margin-bottom: 1%;
  margin-top: 1%;
  display: flex;
  align-items: center;
}

.oh-card-main{
  height: 100%;
  width: 20%;
  margin: auto;
  background: white;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: .5s;
}

.oh-card-main:hover{
  box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.2);
}

.oh-card-body {
  height: 100%;
  width: 100%;
}

.stat-widget-one{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.stat-icon{
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  background: #ee3124;
}

.stat-icon i{
  color: white;
  margin: auto;
  font-size: 2rem;
}

.stat-content{
  height: 100%;
  width: 80%;
}

.stat-text{
  height: 40%;
  width: 100%;
  display: flex;
  align-items: baseline;
}

.stat-text p{
  font-size: 1.2em;
  margin: auto;
}

.stat-digit{
  height: 60%;
  width: 100%;
  display: flex;
  align-items: center;
}

.stat-digit p{
  font-size: 2em;
  margin: auto;
}

.graph-section{
  height:65%;
  width: 100%;
  margin-top: 1%;
  display: flex;
  align-items: center;
}

.graph-div{
  height: 100%;
  width: 70%;
  margin-left: 0;
  background: white;
  border: 1px solid black;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
  transition: .5s;
}

.graph-div:hover{
  box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.2);
}

.ticket-div{
  height: 100%;
  width: 30%;
  margin-top: 10%;
}

.ticket-row{
  height: 50%;
  width: 100%;
  display: flex;
  margin-top : 2px;
  margin-bottom : 2px;
  align-items: center;
}

.ticket-box{
  height: 40%;
  width: 30%;
  border: .5px solid black;
  margin: 1px;
  margin-top : 2px;
  margin-bottom : 2px;
  background: white;
  transition: .3s;
}

.ticket-box:hover{
  height: 45%;
  width: 30%;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
}

.ticket-box-header{
  height: 40%;
  width: 100%;
  display: flex;
  align-items: center;
}

.ticket-box-header p{
  font-size: 1.1rem;
  margin-left: 4%;
  color: red;
}

.ticket-box-content{
  height: 60%;
  width: 100%;
  display: flex;
  align-items: center;
}

.ticket-box-content p{
  font-size: 3rem;
  margin: auto;
  margin-bottom: 10%;
  color: red;
}

.table-count-section{
  height: 30%;
  width: 100%;
  margin: auto;
  margin-top:1%;
  display: flex;
  align-items: center;
}

table.count-general-table{
  height: 100%;
  width: 33%;
  border: 1px solid black;
  transition: .5s;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
}

table.count-general-table:hover{
  box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.2);
}


table.count-general-table th{
  width: auto;
  height: 3vh;
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
  margin-top : 1%;
  margin-bottom : 1%;	
  background-color: #FFFFFF;
}

table.count-general-table td{
  width: auto;
  height: 1.5vh;
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
  margin-top : 0%;
  margin-bottom : 0%;
  background-color: #dcdbdb;
}

table tr.data{
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
  margin-top : 1%;
  margin-bottom : 1%;
}

table tr.data:hover{
  background: rgba(0,0,0,0.1);
  color: #ee3124;
  cursor: pointer;
}


.table-section{
  height: 30%;
  width: 95%;
  margin: auto;
  margin-top: 2%;
  display: flex;
  align-items: center;
}

table.general-table{
  height: 100%;
  width: 63%;
  border: 1px solid black;
  transition: .5s;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
}

table.general-table:hover{
  box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.2);
}

table.general-table th{
  width: auto;
  height: 3vh;
  margin-left: 4%;
  text-align: center;
  background-color: #FFFFFF;
}

table.general-table td{
  width: auto;
  height: 1.5vh;
  margin-left: 4%;
  text-align: center;
  background-color: #dcdbdb;
}

table tr.data:hover{
  background: rgba(0,0,0,0.1);
  color: #ee3124;
  cursor: pointer;
}

#update-nav {
  width: 50%;
  height: 30px;
}
#range-selector {
  width: 30%;    
  float: left;
}
#date-selector {
  width: 70%;
  float: right;  
}