.oh_dashboards{
  overflow-y: auto;
  height: 100%;
  width: 100%;
  background-color: #fff;
}

.announcement-container {
  height: 50%;
  text-align: center;
}

.h-title {
  margin: auto;
  font-size: 100px;
  font-weight: bold;
  color: #ee3124;
}

.announcement-desc {
  font-size: 50px;
  margin: auto;
}

.helpdesk-link {
  text-decoration: underline;
  transition: .5s;
}

.helpdesk-link:hover {
  text-decoration: underline;
  color: red;
}
