.oh_dashboards{
  height:100%;
  width:100%;
  overflow-y:auto;
}

.o_helpdesk_dashboard{
  overflow-y:auto;
  /* height:100%;
  width:100%; */
}

.top-section {
  margin: 5px 5px 5px 5px;
  background-color: red;
  color: white;
}

.header-title {
  text-align: center;
  font-size: 30px;
  padding: 5px auto;
  text-transform: uppercase;
}

.header-label{
  text-align: center;
  font-size: 15px;
  padding: 5px auto;
}

.section-summary{
  margin: 20px auto;
}

.container-card{
  display: flex;
  align-items: center;
  max-width: 100%;
}

.summary-card{
  display: flex;
  align-items: center;
  margin: auto;
  height: 100%;
  width: 19%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-content{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card-content p{
  font-weight: bold;
  font-size: 25px;
  padding-top: 10px;
  text-align: center;
}

.card-content h6{
  text-align: right;
  padding-right: 10px;
}

.section-table{
  margin:30px auto;
}

.table-label{
  height: 50px;
  display: flex;
  align-items: center;
  background-color: red;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.table-label-text{
  margin-left: 20px;
  color: white;
}

.table-data{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.table-data tr{
  transition: .5s;
}

.table-data tr:hover{
  background-color: #dcdbdb;
}

.table-data th{
  text-align: center;
}

.table-data td{
  text-align: center;
  cursor: pointer;
}

.table-data td:hover{
  color: red;
}

table th.category {
  text-align: left;
}

table th.current-week {
  background-color: #dcdbdb;
  text-align: center;
}

table td.current-week {
  background-color: #dcdbdb;
  text-align: center;
}

.section-button {
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.btn-rr{
  padding: 10px;
  align-self: flex-end;
  border: none;
  transition: .5s;
  background-color: #dcdbdb;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.btn-rr:hover{
  background-color: #ee3124;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#btn-failed-response{
  margin-right: 20px;
}
