<section class="oe_container custom_main_box" style="margin-top: -24px !important;">
	<div class="row mt92 o_equal_col_sm" style="max-width:1540px;margin:0 auto;background-color:#ebf2f8;padding-bottom:92px;border-radius:15px;">
		<div class="" style="display:block;margin:0 auto;width: 500px;">
			<!-- <div style="display: inline-block;width: 240px;">
				<a href="https://www.emiprotechnologies.com" target="_blank" style="width: 100%;display: inline-block;">
					<img class="img img-responsive mt16" src="emipro_logo.png" style="display: block;margin: 0 auto;" />
				</a>
			</div> -->
			<!-- <div style="width: 2px;height: 105px;background-image: -webkit-linear-gradient(transparent, #dce2e6, transparent);display: inline-block;vertical-align: top;"></div> -->
			<div  style="display: inline-block;width: 240px; margin-left: 120px;">
				<a href="https://techspawn.com/connect-with-techspawn" target="_blank" style="width: 100%;display: inline-block;">
					<img class="img img-responsive mt16" src="logo.png"  style="margin: 0 auto;display: block;"/>
				</a>
			</div>
		</div>
	</div>
</section>


<section class="oe_container bg-transparent fixed-top position-relative" style="margin:-5rem 0">
	<div class="row o_equal_col_sm" style="margin: 0 300px;">
		<div class="shadow bg-white px-5 pb24 pt24" style="border-radius:15px">

			<section class="oe_container custom_space" style="margin-bottom:-66px;">
				<div class="mt64 mb64 pt32 custom_gst_text" style="padding-top: 0px !important;">
					<h2 class="oe_slogan custom_gst_design" style="color: #ff8950;font-family: Roboto;font-weight: 500;text-align:center;text-transform: uppercase; margin-top: -50px !important; margin-bottom: 10px !important;">
						Odoo Microsoft Azure SSO Integration
					</h2>
					<p class="mb16 text-center text-black-dark" style="font-family: Roboto;font-weight: initial;color: #091E42;text-align:center;"> By Techspawn Solutions
					</p>

					<p class="mb16 text-center text-black-dark" style="font-family: Roboto;font-weight: initial;color: #091E42;text-align:center;"> Sync Microsoft Users to Odoo seamlessly
			
					</p>
				</div>
			</section>
			<section class="oe_container">
				<div class="oe_row mt64 mb64 custom_one_click_button" style="width: 260px; margin-top:20px !important;margin-bottom: 0px !important;">
					<h3 class="contct_us_btn"
					style="padding: 14px; letter-spacing: 0.6px; background-color: #087dda; text-align: center; box-shadow: 2px 1px 12px 3px #ece6e6; border-radius: 10px; color: #fff; font-family: &quot;Montserrat&quot;; font-weight: 600; text-transform: uppercase; font-size: 19px;"><a href="https://techspawn.com/connect-with-techspawn" target="_blank"> Sign In with the Microsoft SSO </a></h3>
				</div>
			</section>
		</div>
	</div>
</section>

<section class="oe_container">
	<section id="loempia_tabs" class="" style="padding:64px 20px;margin: 100px 0px;background-color:rgba(0, 56, 195, 0.12); border-radius: 22px;">
		<ul role="tablist" class="nav nav-tabs justify-content-center"
			data-tabs="tabs" style="border:none; background-color:unset">
			<li class="nav-item" style="border-top-right-radius: 6px;border-top-left-radius: 6px;background-color:#087dda;margin-right: 1px;padding-bottom: 2px;">
				<a href="#ept_features" class=""
					style="font-family: Roboto;text-transform: uppercase;font-weight: 600;font-size: 15px;letter-spacing: 1px;padding: 10px 20px;border-top-left-radius: 5px;border-top-right-radius: 5px;color: #2b2b2b;">Features
				</a>
			</li>

			<li class="nav-item"
				style="border-top-right-radius: 6px;border-top-left-radius: 6px;background-color:#087dda;margin-right: 1px;padding-bottom: 2px;">
				<a href="#ept_screenshots"  class=""
					style="font-family: Roboto;text-transform: uppercase;font-weight: 600;font-size: 15px;letter-spacing: 1px;padding: 10px 20px;border-top-left-radius: 5px;border-top-right-radius: 5px;color: #2b2b2b;">User Guide with Screenshots
				</a>
			</li>
<!--			<li class="nav-item" style="border-top-right-radius: 6px;border-top-left-radius: 6px;background-color:#087dda;margin-right: 1px;padding-bottom: 2px;">-->
<!--               <a href="#ept_userguid"   class="" style="font-family: Roboto;text-transform: uppercase;font-weight: 600;font-size: 15px;letter-spacing: 1px;padding: 10px 20px;border-top-left-radius: 5px;border-top-right-radius: 5px;color: #2b2b2b;">User Guide</a>-->
<!--            </li>-->
            <li class="nav-item" style="border-top-right-radius: 6px;border-top-left-radius: 6px;background-color:#087dda;margin-right: 1px;padding-bottom: 2px;">
               <a href="#ept_faqs"  class="" style="font-family: Roboto;text-transform: uppercase;font-weight: 600;font-size: 15px;letter-spacing: 1px;padding: 10px 20px;border-top-left-radius: 5px;border-top-right-radius: 5px;color: #2b2b2b;">FAQs</a>
            </li>
		</ul>
		
		 <section id="ept_features" style="padding: 20px 10px;margin: 20px 0px;background-color:#fff;border-radius: 22px;" class="ept_features d-flex align-items-center">

    		<div class="container">
        		<div class="row">
					<div class="col" style="margin: 10px;">
						<div class="row" style="background-color:#edfcfb; border-radius: 13px;">
							<div class="col-md-3 text-center">
								<img class="img img-responsive" style="max-width:20%; margin-top: 13px;" src="features/check.png"/>
							</div>
							<div class="col-md-9">
							  <p style="margin-top:10px; color: rgba(0, 0, 17, 1);font-size: 16px;"><b> Convenient Setup and Configuration </b></p>
							</div>
						</div>
					</div>
					<div class="col" style="margin: 10px;">
						<div class="row" style="background-color:#edfcfb; border-radius: 13px;" >
							<div class="col-md-3 text-center">
								<img class="img img-responsive" style="max-width:20%; margin-top: 13px;" src="features/check.png"/>
							</div>
							<div class="col-md-9">
								<p style="margin-top:10px; color: rgba(0, 0, 17, 1);font-size: 16px;"><b> Allows Odoo Users to Sign In using the Microsoft Account </b></p>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col" style="margin: 10px;">
						<div class="row" style="background-color:#edfcfb; border-radius: 13px;">
							<div class="col-md-3 text-center">
								<img class="img img-responsive" style="max-width:20%; margin-top: 13px;" src="features/check.png"/>
							</div>
							<div class="col-md-9">
							  <p style="margin-top:10px; color: rgba(0, 0, 17, 1);font-size: 16px;"><b> Secure Login with the help of Microsoft Single Sign-On(SSO) </b></p>
							</div>
						</div>
					</div>
					<div class="col" style="margin: 10px;">
						<div class="row" style="background-color:#edfcfb; border-radius: 13px;" >
							<div class="col-md-3 text-center">
								<img class="img img-responsive" style="max-width:20%; margin-top: 13px;" src="features/check.png"/>
							</div>
							<div class="col-md-9">
								<p style="margin-top:10px; color: rgba(0, 0, 17, 1); font-size: 16px;"><b> Quick Sign In </b></p>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col" style="margin: 10px;">
						<div class="row" style="background-color:#edfcfb; border-radius: 13px;" >
							<div class="col-md-3 text-center">
								<img class="img img-responsive" style="max-width:20%; margin-top: 13px;" src="features/check.png"/>
							</div>
							<div class="col-md-9">
								<p style="margin-top:10px; color: rgba(0, 0, 17, 1); font-size: 16px;"><b> OAuth2 is used for the authorization </b></p>
							</div>
						</div>
					</div>
					<div class="col" style="margin: 10px;">
						<div class="row" style="background-color:#edfcfb; border-radius: 13px;">
							<div class="col-md-3 text-center">
								<img class="img img-responsive" style="max-width:20%; margin-top: 13px;" src="features/check.png"/>
							</div>
							<div class="col-md-9">
							  <p style="margin-top:10px; color: rgba(0, 0, 17, 1); font-size: 16px;"><b> No need to remember new passwords </b></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

  
    <section id="ept_screenshots"style="padding: 20px 10px;margin: 20px 0px;background-color:#fff;border-radius: 22px;" class="ept_screenshots">
		<div class="container" data-aos="fade-up">
			<div class="s_faq mt32 mb32" style="background-color: transparent !important;">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					<!--1-->
					<div class="panel-heading mt0 alert" style="border:1px solid transparent !important;border-radius: 10px;box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);background-color:#F0F4F7;padding: 15px 15px;margin: 0;">
								<h2 class="panel-title mb0">
									<i style="font-family: Roboto;font-weight:700;color: rgba(0, 0, 200, 1);font-size:30px;">
									<span class="panelcontent" style="padding: 0% 2%;">USER GUIDE WITH SCREENSHOTS
									</i>
								</h2>
							</div>
					<div class="panel-group" style="margin-bottom:2%; margin-top: 2%;">
						<div class="panel panel-default"  style="box-shadow: unset;">
							<div class="panel-heading mt0 alert" style="border:1px solid transparent !important;border-radius: 10px;box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);padding: 12px 12px;margin: 0;">
								<h3 class="panel-title mb0">
									<a class="collapsed" style="font-family: Roboto;font-weight:500;color: #091E42;font-size:20px;" data-toggle="collapse" href="#collapse_4">
										<span class="panelcontent" style="padding: 0% 2%;">Go to the Azure Portal. In the Azure Services click on the Azure Directory.
										</span>
									</a>
								</h3>
							</div>
							<div id="collapse_4" class="panel-collapse collapse mt16 mb16">
								<div class="mb16">
									<img src="features/1_.png" class="img img-responsive center-block"/>
								</div>
							</div>
						</div>
					</div>
					<!-- 2 -->
					<div class="panel-group" style="margin-bottom:2%;">
						<div class="panel panel-default"  style="box-shadow: unset;">
							<div class="panel-heading mt0 alert" style="border:1px solid transparent !important;border-radius: 10px;box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);padding: 15px 15px;margin: 0;">
								<h3 class="panel-title mb0">
									<a class="collapsed"
										style="font-family: Roboto;font-weight:500;color: #091E42;font-size:20px;" data-toggle="collapse" href="#collapse_9">
										<span class="panelcontent" style="padding: 0% 2%;">Go to 'App registrations'.
										</span>
									</a>
								</h3>
							</div>
							<div id="collapse_9" class="panel-collapse collapse mt16 mb16">
								<div class="mb16">
									<img src="features/2_.png" class="img img-responsive center-block"/>
								</div>
							</div>
						</div>
					</div>

					<!-- 3 -->
					<div class="panel-group" style="margin-bottom:2%;">
						<div class="panel panel-default"  style="box-shadow: unset;">
							<div class="panel-heading mt0 alert" style="border:1px solid transparent !important;border-radius: 10px;box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);padding: 15px 15px;margin: 0;">
								<h3 class="panel-title mb0">
									<a class="collapsed"
										style="font-family: Roboto;font-weight:500;color: #091E42;font-size:20px;"
										data-toggle="collapse" href="#collapse_14">
										<span class="panelcontent" style="padding: 0% 2%;">Click on the 'New Registration'.
										</span>
									</a>
								</h3>
							</div>
							<div id="collapse_14" class="panel-collapse collapse mt16 mb16">
								<div class="mb16">
									<img src="features/3_.png" class="img img-responsive center-block"/>
								</div>
							</div>
						</div>
					</div>
					<!-- 4 -->
					<div class="panel-group" style="margin-bottom:2%;">
						<div class="panel panel-default"  style="box-shadow: unset;">
							<div class="panel-heading mt0 alert" style="border:1px solid transparent !important;border-radius: 10px;box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);padding: 15px 15px;margin: 0;">
								<h3 class="panel-title mb0">
									<a class="collapsed"
										style="font-family: Roboto;font-weight:500;color: #091E42;font-size:20px;"
										data-toggle="collapse" href="#collapse_155">
										<span class="panelcontent" style="padding: 0% 2%;">Give an appropriate name and select 'Accounts in any Organizational directory (Multitenant)' option. Click on the Register button.
										</span>
									</a>
								</h3>
							</div>
							<div id="collapse_155" class="panel-collapse collapse mt16 mb16">
								<div class="mb16">
									<img src="features/4_.png" class="img img-responsive center-block"/>
								</div>
							</div>
						</div>
					</div>

					<!-- 5 -->
					<div class="panel-group" style="margin-bottom:2%;">
						<div class="panel panel-default"  style="box-shadow: unset;">
							<div class="panel-heading mt0 alert" style="border:1px solid transparent !important;border-radius: 10px;box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);padding: 15px 15px;margin: 0;">
								<h3 class="panel-title mb0">
									<a class="collapsed"
										style="font-family: Roboto;font-weight:500;color: #091E42;font-size:20px;"
										data-toggle="collapse" href="#collapse_166">
										<span class="panelcontent" style="padding: 0% 2%;">Click on the newly created Application.
										</span>
									</a>
								</h3>
							</div>
							<div id="collapse_166" class="panel-collapse collapse mt16 mb16">
								<div class="mb16">
									<img src="features/5_.png" class="img img-responsive center-block"/>
								</div>
							</div>
						</div>
					</div>
					<!-- 6 -->
					<div class="panel-group" style="margin-bottom:2%;">
						<div class="panel panel-default"  style="box-shadow: unset;">
							<div class="panel-heading mt0 alert" style="border:1px solid transparent !important;border-radius: 10px;box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);padding: 15px 15px;margin: 0;">
								<h3 class="panel-title mb0">
									<a class="collapsed"
										style="font-family: Roboto;font-weight:500;color: #091E42;font-size:20px;"
										data-toggle="collapse" href="#collapse_177">
										<span class="panelcontent" style="padding: 0% 2%;">Click on the Overview Menu. Copy the Application(Client) Id.
										</span>
									</a>
								</h3>
							</div>
							<div id="collapse_177" class="panel-collapse collapse mt16 mb16">
								<div class="mb16">
									<img src="features/6_.png" class="img img-responsive center-block"/>
								</div>
							</div>
						</div>
					</div>

					<!-- 7 -->
					<div class="panel-group" style="margin-bottom:2%;">
                            <div class="panel panel-default" style="box-shadow: unset;">
                                <div class="panel-heading mt0 alert"
                                     style="border:1px solid transparent !important;border-radius: 10px;box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);padding: 15px 15px;margin: 0;">
                                    <h3 class="panel-title mb0">
                                        <a class="collapsed"
                                           style="font-family: Roboto;font-weight:500;color: #091E42;font-size:20px;"
                                           data-toggle="collapse" href="#collapse_7">
												<span class="panelcontent" style="padding: 0% 2%;">Go to the 'API Permissions'.
												</span>
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapse_7" class="panel-collapse collapse mt16 mb16">
                                    <div class="mb16">
                                        <img src="features/7_.png" class="img img-responsive center-block"/>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 5 -->
                        <div class="panel-group" style="margin-bottom:2%;">
                            <div class="panel panel-default" style="box-shadow: unset;">
                                <div class="panel-heading mt0 alert"
                                     style="border:1px solid transparent !important;border-radius: 10px;box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);padding: 15px 15px;margin: 0;">
                                    <h3 class="panel-title mb0">
                                        <a class="collapsed"
                                           style="font-family: Roboto;font-weight:500;color: #091E42;font-size:20px;"
                                           data-toggle="collapse" href="#collapse_8">
												<span class="panelcontent" style="padding: 0% 2%;">Select the permissions and click on the 'Update Permissions' button.
												</span>
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapse_8" class="panel-collapse collapse mt16 mb16">
                                    <div class="mb16">
                                        <img src="features/8_.png" class="img img-responsive center-block"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 6 -->
                        <div class="panel-group" style="margin-bottom:2%;">
                            <div class="panel panel-default" style="box-shadow: unset;">
                                <div class="panel-heading mt0 alert"
                                     style="border:1px solid transparent !important;border-radius: 10px;box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);padding: 15px 15px;margin: 0;">
                                    <h3 class="panel-title mb0">
                                        <a class="collapsed"
                                           style="font-family: Roboto;font-weight:500;color: #091E42;font-size:20px;"
                                           data-toggle="collapse" href="#collapse_99">
												<span class="panelcontent" style="padding: 0% 2%;">Go to the 'Certificates and Secrets' menu. Click on the 'New Client Secret' option.
												</span>
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapse_99" class="panel-collapse collapse mt16 mb16">
                                    <div class="mb16">
                                        <img src="features/9_.png" class="img img-responsive center-block"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 7 -->
                        <div class="panel-group" style="margin-bottom:2%;">
                            <div class="panel panel-default" style="box-shadow: unset;">
                                <div class="panel-heading mt0 alert"
                                     style="border:1px solid transparent !important;border-radius: 10px;box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);padding: 15px 15px;margin: 0;">
                                    <h3 class="panel-title mb0">
                                        <a class="collapsed"
                                           style="font-family: Roboto;font-weight:500;color: #091E42;font-size:20px;"
                                           data-toggle="collapse" href="#collapse_10">
												<span class="panelcontent" style="padding: 0% 2%;">Generate the Client Secret key.
												</span>
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapse_10" class="panel-collapse collapse mt16 mb16">
                                    <div class="mb16">
                                        <img src="features/10_.png"
                                             class="img img-responsive center-block"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 8 -->
                        <div class="panel-group" style="margin-bottom:2%;">
                            <div class="panel panel-default" style="box-shadow: unset;">
                                <div class="panel-heading mt0 alert"
                                     style="border:1px solid transparent !important;border-radius: 10px;box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);padding: 15px 15px;margin: 0;">
                                    <h3 class="panel-title mb0">
                                        <a class="collapsed"
                                           style="font-family: Roboto;font-weight:500;color: #091E42;font-size:20px;"
                                           data-toggle="collapse" href="#collapse_11">
												<span class="panelcontent" style="padding: 0% 2%;">Copy the generated 'Value'.
												</span>
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapse_11" class="panel-collapse collapse mt16 mb16">
                                    <div class="mb16">
                                        <img src="features/11_.png" class="img img-responsive center-block"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 9 -->
                        <div class="panel-group" style="margin-bottom:2%;">
                            <div class="panel panel-default" style="box-shadow: unset;">
                                <div class="panel-heading mt0 alert"
                                     style="border:1px solid transparent !important;border-radius: 10px;box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);padding: 15px 15px;margin: 0;">
                                    <h3 class="panel-title mb0">
                                        <a class="collapsed"
                                           style="font-family: Roboto;font-weight:500;color: #091E42;font-size:20px;"
                                           data-toggle="collapse" href="#collapse_12">
												<span class="panelcontent" style="padding: 0% 2%;">Go to the 'Overview' menu.
												</span>
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapse_12" class="panel-collapse collapse mt16 mb16">
                                    <div class="mb16">
                                        <img src="features/12_.png" class="img img-responsive center-block"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 10 -->
                        <div class="panel-group" style="margin-bottom:2%;">
                            <div class="panel panel-default" style="box-shadow: unset;">
                                <div class="panel-heading mt0 alert"
                                     style="border:1px solid transparent !important;border-radius: 10px;box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);padding: 15px 15px;margin: 0;">
                                    <h3 class="panel-title mb0">
                                        <a class="collapsed"
                                           style="font-family: Roboto;font-weight:500;color: #091E42;font-size:20px;"
                                           data-toggle="collapse" href="#collapse_13">
												<span class="panelcontent" style="padding: 0% 2%;">Click on the 'Redirected URIs' option.
												</span>
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapse_13" class="panel-collapse collapse mt16 mb16">
                                    <div class="mb16">
                                        <img src="features/13_.png"
                                             class="img img-responsive center-block"/></br></br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 11 -->
                        <div class="panel-group" style="margin-bottom:2%;">
                            <div class="panel panel-default" style="box-shadow: unset;">
                                <div class="panel-heading mt0 alert"
                                     style="border:1px solid transparent !important;border-radius: 10px;box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);padding: 15px 15px;margin: 0;">
                                    <h3 class="panel-title mb0">
                                        <a class="collapsed"
                                           style="font-family: Roboto;font-weight:500;color: #091E42;font-size:20px;"
                                           data-toggle="collapse" href="#collapse_144">
												<span class="panelcontent" style="padding: 0% 2%;">Click on the 'Add a Platform' option.
												</span>
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapse_144" class="panel-collapse collapse mt16 mb16">
                                    <div class="mb16">
                                        <img src="features/14_.png"
                                             class="img img-responsive center-block"/></br></br>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 12 -->

                        <div class="panel-group" style="margin-bottom:2%;">
                            <div class="panel panel-default" style="box-shadow: unset;">
                                <div class="panel-heading mt0 alert"
                                     style="border:1px solid transparent !important;border-radius: 10px;box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);padding: 15px 15px;margin: 0;">
                                    <h3 class="panel-title mb0">
                                        <a class="collapsed"
                                           style="font-family: Roboto;font-weight:500;color: #091E42;font-size:20px;"
                                           data-toggle="collapse" href="#collapse_15">
												<span class="panelcontent" style="padding: 0% 2%;">Select 'Web Applications'.
												</span>
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapse_15" class="panel-collapse collapse mt16 mb16">
                                    <div class="mb16">
                                        <img src="features/15_.png"
                                             class="img img-responsive center-block"/></br></br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 13 -->
                        <div class="panel-group" style="margin-bottom:2%;">
                            <div class="panel panel-default" style="box-shadow: unset;">
                                <div class="panel-heading mt0 alert"
                                     style="border:1px solid transparent !important;border-radius: 10px;box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);padding: 15px 15px;margin: 0;">
                                    <h3 class="panel-title mb0">
                                        <a class="collapsed"
                                           style="font-family: Roboto;font-weight:500;color: #091E42;font-size:20px;"
                                           data-toggle="collapse" href="#collapse_16">
												<span class="panelcontent" style="padding: 0% 2%;">Add the Redirected URI and click on the 'Configure' button.
												</span>
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapse_16" class="panel-collapse collapse mt16 mb16">
                                    <div class="mb16">
                                        <img src="features/16_.png"
                                             class="img img-responsive center-block"/></br></br>
                                    </div></br>
									<div class="mb16">
                                        <img src="features/16_1.png"
                                             class="img img-responsive center-block"/></br></br>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 14 -->
                        <div class="panel-group" style="margin-bottom:2%;">
                            <div class="panel panel-default" style="box-shadow: unset;">
                                <div class="panel-heading mt0 alert"
                                     style="border:1px solid transparent !important;border-radius: 10px;box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);padding: 15px 15px;margin: 0;">
                                    <h3 class="panel-title mb0">
                                        <a class="collapsed"
                                           style="font-family: Roboto;font-weight:500;color: #091E42;font-size:20px;"
                                           data-toggle="collapse" href="#collapse_17">
												<span class="panelcontent" style="padding: 0% 2%;">Go to Odoo -> Settings and click on the 'Activate the developer mode' option.
												</span>
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapse_17" class="panel-collapse collapse mt16 mb16">
                                    <div class="mb16">
                                        <img src="features/developer.png"
                                             class="img img-responsive center-block"/></br></br>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 15 -->
                        <div class="panel-group" style="margin-bottom:2%;">
                            <div class="panel panel-default" style="box-shadow: unset;">
                                <div class="panel-heading mt0 alert"
                                     style="border:1px solid transparent !important;border-radius: 10px;box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);padding: 15px 15px;margin: 0;">
                                    <h3 class="panel-title mb0">
                                        <a class="collapsed"
                                           style="font-family: Roboto;font-weight:500;color: #091E42;font-size:20px;"
                                           data-toggle="collapse" href="#collapse_18">
												<span class="panelcontent" style="padding: 0% 2%;">Click on the 'OAuth Providers' option.
												</span>
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapse_18" class="panel-collapse collapse mt16 mb16">
                                    <div class="mb16">
                                        <img src="features/Oauth.png"
                                             class="img img-responsive center-block"/></br></br>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 16 -->
                        <div class="panel-group" style="margin-bottom:2%;">
                            <div class="panel panel-default" style="box-shadow: unset;">
                                <div class="panel-heading mt0 alert"
                                     style="border:1px solid transparent !important;border-radius: 10px;box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);padding: 15px 15px;margin: 0;">
                                    <h3 class="panel-title mb0">
                                        <a class="collapsed"
                                           style="font-family: Roboto;font-weight:500;color: #091E42;font-size:20px;"
                                           data-toggle="collapse" href="#collapse_19">
												<span class="panelcontent" style="padding: 0% 2%;">Click on the 'Microsoft OAuth2' option
												</span>
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapse_19" class="panel-collapse collapse mt16 mb16">
                                    <div class="mb16">
                                        <img src="features/tree.png"
                                             class="img img-responsive center-block"/></br></br>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 17 -->
                        <div class="panel-group" style="margin-bottom:2%;">
                            <div class="panel panel-default" style="box-shadow: unset;">
                                <div class="panel-heading mt0 alert"
                                     style="border:1px solid transparent !important;border-radius: 10px;box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);padding: 15px 15px;margin: 0;">
                                    <h3 class="panel-title mb0">
                                        <a class="collapsed"
                                           style="font-family: Roboto;font-weight:500;color: #091E42;font-size:20px;"
                                           data-toggle="collapse" href="#collapse_20">
												<span class="panelcontent" style="padding: 0% 2%;">Add the previously copied Microsoft Client ID and the Secret Key(Value).
												</span>
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapse_20" class="panel-collapse collapse mt16 mb16">
                                    <div class="mb16">
                                        <img src="features/form.png"
                                             class="img img-responsive center-block"/></br></br>
                                    </div><br/>
									<div class="mb16">
                                        <img src="features/form1.png"
                                             class="img img-responsive center-block"/></br></br>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 18 -->
                        <div class="panel-group" style="margin-bottom:2%;">
                            <div class="panel panel-default" style="box-shadow: unset;">
                                <div class="panel-heading mt0 alert"
                                     style="border:1px solid transparent !important;border-radius: 10px;box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);padding: 15px 15px;margin: 0;">
                                    <h3 class="panel-title mb0">
                                        <a class="collapsed"
                                           style="font-family: Roboto;font-weight:500;color: #091E42;font-size:20px;"
                                           data-toggle="collapse" href="#collapse_21">
												<span class="panelcontent" style="padding: 0% 2%;">Click on the 'Log in with Microsoft' option.
												</span>
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapse_21" class="panel-collapse collapse mt16 mb16">
                                    <div class="mb16">
                                        <img src="features/login_page.png"
                                             class="img img-responsive center-block"/></br></br>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 19 -->
                        <div class="panel-group" style="margin-bottom:2%;">
                            <div class="panel panel-default" style="box-shadow: unset;">
                                <div class="panel-heading mt0 alert"
                                     style="border:1px solid transparent !important;border-radius: 10px;box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);padding: 15px 15px;margin: 0;">
                                    <h3 class="panel-title mb0">
                                        <a class="collapsed"
                                           style="font-family: Roboto;font-weight:500;color: #091E42;font-size:20px;"
                                           data-toggle="collapse" href="#collapse_22">
												<span class="panelcontent" style="padding: 0% 2%;">Enter the credentials.
												</span>
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapse_22" class="panel-collapse collapse mt16 mb16">
                                    <div class="mb16">
                                        <img src="features/sign_in.png"
                                             class="img img-responsive center-block"/></br></br>
                                    </div><br/>
									<div class="mb16">
                                        <img src="features/sign_in1.png"
                                             class="img img-responsive center-block"/></br></br>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 20 -->
                        <div class="panel-group" style="margin-bottom:2%;">
                            <div class="panel panel-default" style="box-shadow: unset;">
                                <div class="panel-heading mt0 alert"
                                     style="border:1px solid transparent !important;border-radius: 10px;box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);padding: 15px 15px;margin: 0;">
                                    <h3 class="panel-title mb0">
                                        <a class="collapsed"
                                           style="font-family: Roboto;font-weight:500;color: #091E42;font-size:20px;"
                                           data-toggle="collapse" href="#collapse_23">
												<span class="panelcontent" style="padding: 0% 2%;">On successful authentication you will be redirected to Odoo.
												</span>
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapse_23" class="panel-collapse collapse mt16 mb16">
                                    <div class="mb16">
                                        <img src="features/redirect.png"
                                             class="img img-responsive center-block"/></br></br>
                                    </div>
                                </div>
                            </div>
                        </div>
				</div>
      		</div>
		</div>
    </section><!-- End About Section -->

		<section id="ept_faqs" style="padding: 20px 10px;margin: 20px 0px;background-color:#fff;border-radius: 22px;"class="ept_faqs">
      		<div class="container" data-aos="fade-up">
				<div class="s_faq mt32 mb32" style="background-color: transparent !important;">
				
						<div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
						<div class="panel-heading mt0 alert" style="border:1px solid transparent !important;border-radius: 10px;box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);background-color:#F0F4F7;padding: 15px 15px;margin: 0;">
								<h2 class="panel-title mb0">
									<i style="font-family: Roboto;font-weight:700;color: rgba(0, 0, 200, 1);font-size:30px;">
									<span class="panelcontent" style="padding: 0% 2%;">FAQS SECTION
									</i>
								</h2>
							</div>
							<div class="panel-group" style="margin-bottom:2%; margin-top: 2%;">
								<div class="panel panel-default">
								
									<div class="panel-heading mt0 alert" style="border:1px solid transparent !important; border-radius:10px; padding:12px 12px; margin:0">
										<h3 class="panel-title mb0">
											<a class="collapsed" style="font-family:Roboto; font-weight:500; color:#091E42; font-size:20px" data-toggle="collapse" href="#co1" aria-expanded="false">
												<span class="panelcontent" style="padding:0% 2%">Does your module supports Odoo Community & Enterprise edition?
												</span>
											</a>
										</h3>
									</div>
									<div id="co1" class="panel-collapse mt16 mb16 collapse" style="">
										<div class="mb16">
											<span><p class="mb0" style="height:auto; padding-left:2%; margin-left:2%; font-family:Roboto">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Our module is compatible with both Odoo Community & Enterprise edition. Configuration is same for both the editions.</p></span>
										</div>
									</div>
								</div>
							</div>
							<div class="panel-group" style="margin-bottom:2%">
								<div class="panel panel-default">
									<div class="panel-heading mt0 alert" style="border:1px solid transparent !important; border-radius:10px; padding:15px 15px; margin:0">
										<h3 class="panel-title mb0">
											<a class="collapsed" style="font-family:Roboto; font-weight:500; color:#091E42; font-size:20px" data-toggle="collapse" href="#co2" aria-expanded="false">
												<span class="panelcontent" style="padding:0% 2%">Can we do customization in the this module?
												</span>
											</a>
										</h3>
									</div>
									<div id="co2" class="panel-collapse mt16 mb16 collapse" style="">
										<div class="mb16">
											<span><p class="mb0" style="height:auto; padding-left:2%; margin-left:2%; font-family:Roboto">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Yes, you can do any type of customization with this module. If you want us to customize the module as per your requirement, please contact us at support@techspawn.com. Our team will be happy to help you with customization.</p></span>
										</div>
									</div>
								</div>
							</div>
							<div class="panel-group" style="margin-bottom:2%">
								<div class="panel panel-default">
									<div class="panel-heading mt0 alert" style="border:1px solid transparent !important; border-radius:10px; padding:15px 15px; margin:0">
										<h3 class="panel-title mb0">
											<a class="collapsed" style="font-family:Roboto; font-weight:500; color:#091E42; font-size:20px" data-toggle="collapse" href="#co3" aria-expanded="false">
												<span class="panelcontent" style="padding:0% 2%">Do we get installation support on the purchase of the app?
												</span>
											</a>
										</h3>
									</div>
									<div id="co3" class="panel-collapse mt16 mb16 collapse" style="">
										<div class="mb16">
											<span><p class="mb0" style="height:auto; padding-left:2%; margin-left:2%; font-family:Roboto">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Yes, we provide complete support for installation as well as post installation support also.</p></span>
										</div>
									</div>
								</div>
							</div>
							<div class="panel-group" style="margin-bottom:2%">
								<div class="panel panel-default">
									<div class="panel-heading mt0 alert" style="border:1px solid transparent !important; border-radius:10px; padding:15px 15px; margin:0">
										<h3 class="panel-title mb0">
											<a class="collapsed" style="font-family:Roboto; font-weight:500; color:#091E42; font-size:20px" data-toggle="collapse" href="#co4" aria-expanded="false">
												<span class="panelcontent" style="padding:0% 2%">Do I recieve upgrades if I purchase the app?
												</span>
											</a>
										</h3>
									</div>
									<div id="co4" class="panel-collapse mt16 mb16 collapse" style="">
										<div class="mb16">
											<span><p class="mb0" style="height:auto; padding-left:2%; margin-left:2%; font-family:Roboto">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Yes, you do recieve the updated app for the version you have purchased.</p></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		</section>
</section>
</section>


<div class="contact_us_section" style="margin-top:30px;">
<h3 style="text-align: center;margin-bottom: 20px; font-size: 20px;">Contact & Support</h3>
<h2 style="text-align: center;margin-bottom: 40px;">Expert Ideas and ERP Solution To Help You Grow</h2>
  <p class="oe_slogan" style="font-size:18px">
				Get expert help and assistance related to the new Odoo features and all ERP Related solutions at one place.
				We offer solutions regardless the size of a business, contact us through e-mail at <a href="mailto:sales@techspawn.com">sales@techspawn.com</a>
				and get professional help that you want to build your business better.
				In case of any question regarding please reach out to us on<a href="mailto:Support@techspawn.com"> support@techspawn.com </a>
			</p>
<div class="col-md-12" style=" display: inline-flex;">
    <div class="col-md-4"></div>
    <div class="col-md-4">
     <center><img src="logo.png" style=""></center> 
    </div>
    <div class="col-md-4"></div>
  </div>
<!-- ContactUs And Support -->
	<section class="oe_container">
	  <div class="row mb64" style="display:block; margin:0 auto; width:100%; text-align:center">
		  <div class="mt32" style="display:inline-block; margin:0px 10px">
			  <a href="mailto:mailto:sales@techspawn.com" style="font-family:&quot;Montserrat&quot;">
				  <h4 class="mt16 mb0" style="padding:16px 30px; font-family:&quot;Montserrat&quot; text-transform:uppercase; text-align:center; border-radius:10px; color:#fff; font-weight:700; background-color:#087dda">Email Us</h4>
			  </a>
		  </div>
		  <!--
		  <div class="mt32" style="display:none; margin:0px 10px">
	<a href="https://techspawn.com/connect-with-techspawn" style="font-family:&quot;Montserrat&quot;">
				  <h4 class="mt16 mb0" style="padding:16px 17px; font-family:&quot;Montserrat&quot; text-transform:uppercase; text-align:center; border-radius:10px; color:#fff; font-weight:700; background-color:#ffae1f">Contact Us</h4>
			  </a>
		  </div>
		  -->
	  </div>
	  
	</section>
</div>
