
.oh_dashboards{
  height:100%;
  width:100%;
}

.o_ca_stakeholders_dashboard{
  height:100%;
  width:100%;
  overflow-y:auto;
}

.header{
  height: 100px;
  background: red;
  color: white;
  margin-bottom: 10px;
}

.scroll-head{
  position: sticky;
  background: lightgray;
  top: 0;
}

.header-title-text{
  margin: auto;
}

.summary{
  height: 120px;
  margin-bottom: 10px;
}

.summary-box{
  height: 100%;
  min-width: 24%;
  border-radius: 10px;
  background: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: url('../../description/box.jpg'), white;
  background-size: 70%;
  background-repeat: no-repeat;
}

.summary-box-content{
  height: 70%;
  font-size: 30px;
}

.summary-box-header{
  height: 30%;
  font-size: 14px;
}

.summary-box-header-text{
  margin: auto;
  margin-right: 0px;
}

.content{
  height: 680px;
}

.content-left{
  height: 100%;
  width: 60%;
  background: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.content-left-select{
  height: 8%;
}

.content-left-select .main-label-table{
  height: 90%;
  width: 50%;
  font-size: 15px;
  margin: auto;
  margin-left: 0px;
  color: red;
}

.content-left-select .main-label-table p{
  margin: auto;
  margin-left: 0px;
}

.content-left-select select{
  height: 90%;
  width: 25%;
  font-size: 15px;
  margin: auto;
  margin-right: 0px;
  cursor: pointer;
}

.content-left-table{
  height: 91%;
}

th.th-header {
  background: lightgray;
}

.custom-table tr{
  transition: .5s;
}

.custom-table tr:hover{
  color: red;
  cursor: pointer;
}

.content-right{
  height: 100%;
  width: 40%;
}

.content-right-1{
  height: 50%;
  margin-top: auto;
  background: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow-y: auto;
}

.content-right-2{
  height: 50%;
  margin-bottom: auto;
  background: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow-y: auto;
}

.content-right-header{
  height: 15%;
  border-bottom: 1px solid red;
}

.content-right-header p{
  margin: auto;
  margin-left: 0px;
  font-size: 16px;
  color: red;
}

/* --------------------------------- Universal --------------------------------- */

/* Display Flex */
.d-flex-c {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.d-flex-r {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.d-flex-j {
  display: flex;
  justify-content: space-between;
}

/* Margin */

.mg-auto {
  margin: auto;
}

.mg-left {
  margin-left: auto;
}

.mg-right {
  margin-right: auto;
}

.mg-1 {
  margin: 10px;
}

/* Text Position */

.text-center {
text-align: center;
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  transition: .5s;
  background: lightgray;
}
