.img-fluid {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
  }

.custom-partner-header {
  display: flex;
  align-items: center;
}

.custom-partner-header-picture {
  height: 100%;
  min-width: 10%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.custom-partner-image {
  height: 100%;
  width: 100%;
}

.deets {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    min-width: 40%;
}

.custom-selection-partner{
    margin-left: 40px;
    border: none;
}

.custom-info-two-partner {
  min-width: 50%;
}

/* Email Template Design */

.custom-email-position{
  text-align:center;
  font-weight:normal;
  color:gray;
  font-size:14pt;
  margin-top:-35px;
}
